/* line 1, ../_sass/styles.scss */
body {
  direction: rtl;
}

/* line 5, ../_sass/styles.scss */
body, p, input, h1, h2, h3, h4, h5, a {
  font-family: Vazir !important;
}

/* line 9, ../_sass/styles.scss */
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 16, ../_sass/styles.scss */
body {
  background-color: #FFFFFF;
}

/* line 20, ../_sass/styles.scss */
.ui.menu .item img.logo {
  margin-right: 1.5em;
}

/* line 24, ../_sass/styles.scss */
.main.container {
  margin-top: 3em;
}

/* line 28, ../_sass/styles.scss */
.pagination {
  direction: ltr;
}

/* line 32, ../_sass/styles.scss */
.main.menu {
  height: 3.7em;
  border-radius: 0;
}
/* line 35, ../_sass/styles.scss */
.main.menu a {
  font-weight: bold;
}
/* line 38, ../_sass/styles.scss */
.main.menu .item {
  font-weight: bold;
}

/* line 44, ../_sass/styles.scss */
.post p {
  font-size: 1.15em;
  text-align: justify;
  line-height: 1.7;
}

/* line 50, ../_sass/styles.scss */
.ui.menu .item > i.icon, .ui.label > .icon {
  margin: 0em 0em 0em 0.75em !important;
}
