body{
  direction: rtl;
}

body, p, input, h1, h2, h3, h4, h5, a{
  font-family: Vazir !important;
}

img{
  max-width: 100%;
  display: block;
    margin-left: auto;
    margin-right: auto
}

body {
  background-color: #FFFFFF;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
  margin-top: 3em;
}

.pagination {
  direction: ltr;
}

.main.menu{
  height: 3.7em;
  border-radius: 0;
  a{
    font-weight: bold;
  }
  .item{
    font-weight: bold;
  }
}

.post{
  p {
    font-size: 1.15em;
    text-align: justify;
    line-height: 1.7;
  }
}
.ui.menu .item > i.icon, .ui.label > .icon{
  margin: 0em 0em 0em 0.75em !important;
}
