@import 'semantic-ui';
@import 'variables';
@import "compass/css3/shared";
@import "compass/css3";

html, body {
  background: $BG;
  color: $darkgray;
  font-family: 'Exo 2', sans-serif;
}

body {
  //border-top: 3px solid $gray;
}

.sidebar {
  text-align: left;
}

.left-header {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.2;

  }
}
.nonfloat {
  //float: none !important;
}
.ui.menu {
  border-radius: 0;
}

.header-bg {
  background: url("/images/header.png") 0 0 repeat-x transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: block;
}
a {
  text-decoration: none;
  color: $linkColor;
  @include transition(color 300ms linear 0ms);

  &:visited, &:active {
    color: $visitedLinkColor;
    @include transition(color 300ms linear 0ms);

  }
  &:hover {
    @include transition(color 300ms linear 0ms);
    color: $hoverColor;
  }

}

.center-image {
  margin: 1em auto;

}

.brand {

  padding-top: 8em;
  border-right: 1px dotted #d9d9d9;
  h1 {
    font-size: 1.3em;
  }
}

.post {
  line-height: 1.5;
  .post-title {
    font-size: 1.6em;
  }
}
.post code {
  border-radius: 3px;
  background-color: #eeeeec;
  padding: 0.1em 0.2em;
}

.post pre {
  border-radius: 3px;
  background-color: #eeeeec;
  padding: 0.2em;
}

.maincontainer {
  min-height: 100%;
  position: relative;
}

footer {
  clear: both;
  z-index: 10;
  width: 100%;
  position: static;
  bottom: 0;
  background: #333;
  color: #eee;
  margin-top: 5em;

  .column {
    padding: 0.5em 0;
    h1 {
      margin-bottom: 0 !important;
    }
    span {
      font-size: 0.7em !important;
      color: #b9b9b9 !important;
      a {
        color: white;
      }
    }

  }

}

.ui.label {
  text-transform: capitalize;
}

.fsegment {
  font-size: 0.8rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.author {
  h1 {
    font-size: 1.4em;
  }
}

.invert-link, .invert-link:active, .invert-link:visited {
  color: #ddd;
  @include text-shadow(0 1px 1px #777);
}

.invert-link:hover {
  color: white !important;
}

blockquote {
  background: $BG;
  border-radius: 3px;
  border: 1px solid $lightergray;
  p {
    padding: 0.2em 0.4em !important;
    font-size: 0.9em;
  }
}
.ohloh {
  display: inline-block;
  padding-top: 0.2em;
}
