
$darkgray: #333;
$gray: #37465D;
$white: #f2f2f2;
$lightergray: #eee;

$blue: #37465D;
$lightblue: #006699;
$orange: #CC3333;
$yellow: #F6A947;
$BG: $white;
$linkColor: $lightblue;
$visitedLinkColor: $lightblue;
$hoverColor: $blue;
