html, body {
  height: 100%;
}

body {
  background-color: #fddd3d;
  color: #5f6040;
}

a, h1, h2 {
  color: #5f6040;
}

h3 {
  color: #4c91ae;
}

i {
  color: #4c91ae;
  margin-left: 3pt;
  margin-right: 3pt;
  padding: 10px;
}
#wrapper{
  display: table;
  height: 100%;
}

#box{
  display: table-cell;
  vertical-align: middle; /*Vertically centered*/
  text-align: center; /* Horizontally centered */
}

h1{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 40pt;
}

h3{
  font-family: Lalezar;
  font-size: 40pt;
  margin-bottom: 0;
}
