---
layout: default
---

<div class="ui stackable two column grid">
  <div class="header four wide center aligned column left-header">
    <div class="ui green inverted segment">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <div class="twelve wide column">

    {% for author in site.authors %}

    <div class="row author">
      <div class="ui {{ author[1].color }} segment">
        <h1><a href="/authors/{{ author[1].display_name }}"><img class="ui mini circular image" src="{{ author[1].email | to_gravatar }}" title="{{ author[1].name }}" style="display: inline;"> {{ author[1].display_name }}</a></h1>
        <div class="ui top right attached {{ author[1].color }}  label">About Author</div>
        <p>{{ author[1].about | markdownify }}</p>
        <div class="ui two column grid">

          <div class="row">

            <div class="column">
              {% if author[1].ohloh %}
              <span class="ohloh">
                {{ author[1].ohloh }}
              </span>
              {% endif %}
            </div>

            <div class="right aligned column">
              {% if author[1].web %}
              <a href="{{ author[1].web }}"><i class="large globe icon"></i></a>
              {% endif %}
              {% if author[1].twitter %}
              <a href="http://twitter.com/{{ author[1].twitter }}"><i class="large twitter icon"></i></a>
              {% endif %}
              {% if author[1].github %}
              <a href="http://github.com/{{ author[1].github }}"><i class="large github icon"></i></a>
              {% endif %}
              {% if author[1].linkedin %}
              <a href="{{ author[1].linkedin }}"><i class="large linkedin icon"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br />
    {% endfor %}
  </div>
</div>
