---
layout: default
---

<div class="ui stackable two column grid">
  <div class="header four wide center aligned column left-header">
    <div class="ui green inverted segment">
      <h2>Posts by:</h2>
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <div class="twelve wide column">
    {% for post in page.posts %}
    {% assign author = site.authors[page.author] %}

    <div class="post row">
      <div class="ui segment">
        <br class="mobile only"/>
        <h1 class="post-title"><img class="ui avatar image" src="{{ author.email | to_gravatar }}" title="{{ author.display_name }}"> <a href="{{ post.url }}">{{ post.title }}</a></h1>
        <div class="ui teal top right attached  label"><i class="large time icon"></i>{{ post.date | date_to_string }}</div>
        <p>{{ post.excerpt | markdownify }}</p>

      </div>
    </div>
    <br />
    {% endfor %}
  </div>
</div>
