---
layout: default
---

<div class="ui stackable two column grid">
  <div class="header four wide center aligned column left-header">
    <div class="ui green inverted segment">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <div class="ui right aligned twelve wide column">
    {% for post in site.categories[page.category] %}
    {% assign author = site.authors[post.author] %}

    <div class="post row">
      <div class="ui segment">
        <br class="mobile only"/>
        <h1 class="post-title"><a href="http://www.yottanami.com"><img class="ui avatar image" src="{{ author.email | to_gravatar }}" title="Behnam Ahmad Khan Beigi"></a> <a href="{{ post.url }}">{{ post.title }}</a></h1>
        <div class="ui teal top right attached  label"><i class="large time icon"></i>{{ post.date | pdate_to_string }}</div>
        <p>{{ post.excerpt | markdownify }}</p>

      </div>
    </div>
    <br />
    {% endfor %}
  </div>
</div>
