---
layout: default
---

<div class="ui stackable two column grid">
  <div class="header four wide center aligned column left-header">
    <div class="ui green inverted segment">
      <h1>Categories</h1>
    </div>
  </div>

  <div class="twelve wide column">
    <div class="right aligned ui divided selection list">
    {% category_list %}
    </div>
  </div>
</div>
