<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="M7RFG3ID9oMF5lZOUkKAmzJxPzCSF9vDg9cnLCjjMig" />
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width">

    <meta name="twitter:card" content="A publication about business, design, programming, writing, and the web by Yellowen people.">
    <meta name="twitter:site" content="@Yellowen_inc">
    <meta name="twitter:creator" content="@Yellowen_inc">

    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/logo.png">
    {% endif %}


    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
    <meta content="{{ site.url }}/images/{{ page.image }}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/images/high-logo.png" property="og:image">
    {% endif %}
    {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
    {% endif %}
    {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
    {% endif %}



    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/tango.css">

    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="ui computer tablet only thin sidebar small vertical menu">
      <div class="header item">
        <a href="/categories"><i class="reorder icon"></i> Categories</a>
      </div>
      {% category_list %}
      <div class="header item">
        <a href="/tags"><i class="tags icon"></i> Tags</a>
      </div>

    </div>


    <div class="ui mobile only thin left  sidebar  wide floating vertical menu">
      <div class="item"><a href="/"><i class="home icon"></i> Home</a></div>
      <div class="item"><a href="/categories"><i class="reorder icon"></i> Categories</a></div>
      <div class="item"><a href="/tags"><i class="tags icon"></i> Tags</a></div>
      <div class="item"><a href="/authors"><i class="users icon"></i> Authors</a></div>
      <div class="item"><a href="/about.html"><i class="info icon"></i> About</a></div>

      <div class="item"><a  href="http://twitter.com/yellowen_inc"><i class="large twitter sign icon"></i>Follow us on Twitter</a></div>
      <div class="item"><a  href="http://github.com/Yellowen"><i class="large github icon"></i>Follow us on Github</a></div>
      <div class="item"><a  href="https://www.facebook.com/pages/Yellowen/458403417555149"><i class="large facebook sign icon"></i>Follow us on Facebook</a></div>
      <div class="item"><a  href="https://plus.google.com/111657470867193917051"><i class="large google plus sign icon"></i>Follow us on Google+</a></div>
      <div class="item"><a class="toggle button mobile" href="#"><i class="large remove icon"></i> Close</a></div>
    </div>

    <div class="ui computer  tablet only grid">
      <div class="ui fluid small inverted menu">
        <a href="/" class="item"><i class="home icon"></i> Home</a>

        <a href="#" class="toggle button computer item"><i class="reorder icon"></i> Categories</a>
        <a href="/authors" class="item"><i class="users icon"></i> Authors</a>
        <a href="/about.html" class="item"><i class="info icon"></i> About</a>

        <div class="ui dropdown item">
          Follow us <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="http://twitter.com/yellowen_inc"><i class="twitter sign icon"></i> Twitter</a>
            <a class="item" href="http://github.com/Yellowen"><i class="github icon"></i> Github</a>
            <a class="item" href="https://www.facebook.com/pages/Yellowen/458403417555149"><i class="facebook sign icon"></i> Facebook</a>
            <a class="item" href="https://plus.google.com/111657470867193917051"><i class="google plus sign icon"></i> Google+</a>
          </div>
        </div>
        <div class="right menu">
          <a class="item" href="/feed/feed.xml"><i class="rss icon"></i></a>
        </div>
      </div>
    </div>

    <div class="ui mobile only grid">
      <div class="ui fluid small inverted menu">
        <a href="#" class="toggle button mobile item"><i class="reorder icon"></i></a>
        <div class="right menu">
          <a class="item" href="/feed/feed.xml"><i class="rss icon"></i></a>
        </div>
      </div>
    </div>



    <div class="ui one column page grid maincontainer">
      <div class="column">
        <div class="row">
          <div class="stackable ui grid">
            <div class="column">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="ui two column page grid">
        <div class="row">
          <div class="column left aligned">
            <span>© 2012-2014 <a class="invert" href="http://www.yellowen.com">Yellowen Inc</a></span>
          </div>
          <div class="column right aligned">
          </div>
        </div>
      </div>
    </footer>


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37099840-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/semantic-ui/transition.js"></script>
    <script type="text/javascript" src="/javascripts/semantic-ui/dropdown.js"></script>
    <script type="text/javascript" src="/javascripts/semantic-ui/sidebar.js"></script>

    <script>
      $(".ui.dropdown").dropdown();
      $(".ui.computer.sidebar").sidebar('attach events', '.toggle.button.computer');
      $(".ui.mobile.sidebar").sidebar({overlay: true}).sidebar('attach events', '.toggle.button.mobile');

    </script>
  </body>
</html>
