---
layout: default
---

{% assign author = site.authors[page.author] %}
<div class=" ">
  <div class="">
    <div class="post row">
      <div class="ui teal top attached segment">
        <br class="mobile only"/>
        <h1 class="post-title"><a href="{{ post.url }}">{{ page.title }}</a></h1>
        <div class="ui teal top left attached  label"><i class="large time icon"></i>{{ page.date | pdate_to_string }}</div>

        <div class="post">
          {{ content }}
          <br/>
          <i alt="بهنام احمد خان بیگی">Behnam Ahmad Khan Beigi</i>

          <br/>
          <br/>
        </div>

        <div class="ui grid">
          <div class="right aligned row">
            <div class="column">
              <div class="ui tiny orange labeled icon top right pointing dropdown button">
                <i class="share icon"></i>
                <span class="text">Share</span>
                <div class="menu">
                  <div class="item"><a href="https://twitter.com/intent/tweet?source=yottanami&text={{ page.title | cgi_escape }}&url={{ site.url | cgi_escape }}{{ page.url |  cgi_escape }}" class=""><i class="large twitter sign icon"></i> Twitter</a></div>
                  <div class="item"><a href="http://www.facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url |  cgi_escape }}&t={{ page.title | cgi_escape }}" class=""><i class="large facebook sign icon"></i> Facebook</a></div>
                  <div class="item"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url | cgi_escape }}{{ page.url |  cgi_escape }}&title={{ page.title | cgi_escape }}&{% if page.description %}summary={{ page.description | cgi_escape }}&{% endif %}source={{ site.name | cgi_escape }}" class=""><i class="large linkedin sign icon"></i> Linkedin</a></div>
                  <div class="item"><a href="https://plus.google.com/share?text={{ page.title | cgi_escape }}&url={{ site.url | cgi_escape }}{{ page.url |  cgi_escape }}" class=""><i class="large google plus sign icon"></i> Google+</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui bottom attached black inverted segment">
        <div class="ui two column grid">
          <div class="column fsegment">
            <i class="block layout icon" title="Categories"></i> {% for cat in page.categories %}<a class="invert-link" href="/categories/{{ cat }}">{{ cat | downcase | capitalize }}</a> {% endfor %}

          </div>
          <div class="right aligned column fsegment">
            <i class="tags icon" title="Tags"></i>  {% for tag in page.tags %}<a class="invert-link" href="/tags/{{ tag }}">{{ tag | downcase | capitalize }}</a> {% endfor %}


          </div>
        </div>
      </div>
    </div>
    <br />
    <br />

    <br /><br />
    <div class="row comment">
      <div class="ui segment">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
         /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
         var disqus_shortname = 'yottanami-blog'; // required: replace example with your forum shortname

         /* * * DON'T EDIT BELOW THIS LINE * * */
         (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

      </div>
    </div>
  </div>
</div>
