---
layout: default
---

<div class="ui stackable two column grid">
  <div class="header four wide center aligned column left-header">
    <div class="ui green inverted segment">
      <h1>Tag: {{ page.tag }}</h1>
    </div>
  </div>

  <div class="twelve wide column">
    {% for post in site.posts %}
    {% for tag in post.tags %}
    {% if tag == page.tag %}
    {% assign author = site.authors[post.author] %}
    <div class="post row">
      <div class="ui segment">
        <br class="mobile only"/>
        <h1 class="post-title"><a href="http://www.yottanami.com"><img class="ui avatar image" src="{{ author.email | to_gravatar }}" title="{{ author.display_name }}"></a> <a href="{{ post.url }}">{{ post.title }}</a></h1>
        <div class="ui teal top right attached  label"><i class="large time icon"></i>{{ post.date | date_to_string }}</div>
        <p>{{ post.excerpt | markdownify }}</p>

      </div>
    </div>
    <br />
    {% endif %}{% endfor %}{% endfor %}

  </div>
</div>
